@import "tailwindcss";


body {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color : #a53def5d
}
html, body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}